spring:
  datasource:
    url: jdbc:sqlite:./gpr.db
    driver-class-name: org.sqlite.JDBC
    username: ""
    password: ""
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
